GITHUB_TOKEN=TOKEN
OPEN_WEATHER_1DAY=http://api.openweathermap.org/data/2.5/weather
OPEN_WEATHER_5DAY=http://api.openweathermap.org/data/2.5/forecast
OPEN_WEATHER=TOKEN
DEFAULT_WEATHER_LAT=00.000000
DEFAULT_WEATHER_LONG=00.000000
UNIFIED_NETWORK_SERVER1=http://192.168.0.101:PORT
UNIFIED_NETWORK_SERVER2=http://192.168.0.123:PORT
HUGGY_TOKEN=TOKEN
NEWSAPIDOTORG=TOKEN
NEWSAPIDOTCOM=TOKEN
SQLHOST=192.168.0.101
SQLPORT=PORT
SQLUSER=NAME
SQLDATABASE=ROBOT_db
SQLPASSWORD=PASS
EYE_ASSETS_PATH=DIR/hal/eyes/eye_assets
EYE_CACHE_PATH=DIR/msutt/hal/eyes/cache
EYE_EXPRESSIONS_PATH=DIR/hal/eyes/expressions/
EYE_EXPRESSIONS_FILE=eye_expressions.json
SOUND_ASSETS_PATH=DIR/hal/audio_output/audio_assets
SPEECH_MODEL_PATH=DIR/hal/audio_output/flitevox/
SPEECH_MODEL_NAME=cmu_us_rms.flitevox
VOICE_RECOGNITION_MODEL_PATH=DIR/hal/pyannote/embedding/
VOICE_RECOGNITION_MODEL_NAME=pytorch_model.bin
VOICEPRINT_MODEL_DIR=DIR/hal/audio_input/voice_models
VOICEPRINT_USER1_NAME=Dad
VOICEPRINT_USER1_MODEL=dad_embedding.pt
VOICEPRINT_USER2_NAME=NEWUSER
VOICEPRINT_USER2_MODEL=NEWUSER_embedding.pt