__pycache__/
*.log
*.pyc
.lgd-*
.env
pyannote/
.venv
hal
vosk_models/
audio_input/voice_models
audio_output/audio_assets
audio_output/flitevox/cmu_us_rms.flitevox
_deprecated
eyes/cache
vision/face_recognition_models
audio_input/vosk/libvosk.so